
.links-col {
  margin-top: 20px;
  text-align: right;
}

.links-col ul {
  list-style: none;
}

.links-col ul li {
  display: inline-block;
  margin-left: 20px;
}

a {
  cursor: pointer;
}

.filter-inp {
  max-width: 400px;
  margin: 10px 0 20px;
}

.form-errors {
  color: red;
  margin-bottom: 20px;
}
