
<div class="row">
  <div class="col-md-12 links-col">
    <ul>
      <li><a href="#!/create">+ New Poll</a></li>
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Current Polls <small>Welcome {{user.username}}</small></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <input ng-model="filterText" type="text" placeholder="Filter..." class="form-control filter-inp">

    <table class="table table-bordered all-polls-table">
      <thead>
        <tr>
          <th>Creator</th>
          <th>Survey Question</th>
          <th>Date added</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="poll in polls | orderBy:'createdAt' | filter:filterText">
          <td>{{poll._creator.username}}</td>
          <td><a href="#!/poll/{{poll._id}}">{{poll.title}}</a></td>
          <td>{{poll.createdAt | date:'mediumDate'}}</td>
          <td>
            <div ng-if="poll._creator._id == user._id">
              <a ng-click="deletePoll(poll._id)">Delete</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
