
<div class="row">
  <div class="col-md-12 links-col">
    <ul>
      <li><a href="#!/dashboard">Go to Polls</a></li>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-10">
    <h2>Put the question and options here</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="well">

      <!-- errors -->
      <div ng-if="errors.length > 0" class="form-errors">
        <div ng-repeat="error in errors" class="form-error">
          {{error}}
        </div>
      </div>

      <form class="form" ng-submit="addPoll()">
        <div class="form-group">
          <input ng-model="newPoll.title" type="text" class="form-control" placeholder="Question...">
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input ng-model="newPoll.option1.name" type="text" class="form-control" placeholder="Option 1...">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input ng-model="newPoll.option2.name" type="text" class="form-control" placeholder="Option 2...">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input ng-model="newPoll.option3.name" type="text" class="form-control" placeholder="Option 3...">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input ng-model="newPoll.option4.name" type="text" class="form-control" placeholder="Option 4...">
            </div>
          </div>
        </div>

        <input type="submit" value="Add Poll" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
