
<div class="row">
  <div class="col-md-12 links-col">
    <ul>
      <li><a href="#!/dashboard">Go to Polls</a></li>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-10">
    <h2>{{poll.title}}</h2>
    <p>Click the vote button to choose one.</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-10">
    <table class="table">
      <thead>
        <tr>
          <th>Option</th>
          <th>Current Vote Count</th>
          <th>Vote</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{poll.option1.name}}</td>
          <td>{{poll.option1.votes}}</td>
          <td><button class="btn btn-primary">Vote</button></td>
        </tr>
        <tr>
          <td>{{poll.option2.name}}</td>
          <td>{{poll.option2.votes}}</td>
          <td><button class="btn btn-primary">Vote</button></td>
        </tr>
        <tr>
          <td>{{poll.option3.name}}</td>
          <td>{{poll.option3.votes}}</td>
          <td><button class="btn btn-primary">Vote</button></td>
        </tr>
        <tr>
          <td>{{poll.option4.name}}</td>
          <td>{{poll.option4.votes}}</td>
          <td><button class="btn btn-primary">Vote</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
